.fv-plugins-icon {
    margin-top: -9px;
    margin-right: 30px;
}

.action_button {
    padding: 12px;
    border-radius: 6px !important;
    border: none;
    background: #ff922a !important;
    color: white;
}

.thumb {
    line-height: 2.5;
}

.del {
    line-height: 2.5;
    font-weight: bold;
}